@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-green-1: #0A2520;
    --color-dark-green-2: #092B26;
    --color-dark-green-3: #203934;
    --color-dark-green-4: #263A33;
    --color-gray-1: #777777;
    --color-gray-2: #E6EAE9;
    --color-gray-3: #5A7065;
    --color-gray-4: #70817B;
    --color-gray-5: #D5D5D5;
    --color-gray-6: #DEDEDE;
    --color-gray-7: #DFDFDF;
    --color-white-80: rgba(255, 255, 255, 0.8);
}

* {
    scroll-behavior: smooth;
}
body {
    background-color: color-mix(in oklab, var(--color-gray-2) 10%, transparent);
    font-family: 'Urbanist', sans-serif;
}

.header {
    background-color: var(--color-dark-green-1);
    color: var(--color-white);
}

.button {
    background-color: var(--color-dark-green-2);
    color: var(--color-white);
}

.button:hover {
    background-color: var(--color-dark-green-3);
}