{% extends "base.html" %}

{% block content %}

<div class="bg-[var(--color-gray-2)]/50 py-3 mt-5">
    <div class="text-3xl text-center">
        Oshxona mebeli
    </div>
    <div class="text-center text-[var(--color-gray-1)]">
        Orzuyingizdagi oshxona mebelini tanlang va biz uni siz xohlagandek tayyorlab beramiz
    </div>


    <div class="p-4 mt-10 bg-[var(--color-gray-2)]/50">
        <div class="container mx-auto grid grid-cols-3 grid-row-2 gap-4">
            <!-- Oshxona mebeli -->
            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/1.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Yumshoq mebellar -->
            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/4.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

        

            <!-- Eshiklar -->
            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/6.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/7.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/8.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-span-1">
                <div class="relative mt-3">
                    <img class="rounded-md" src="/static/images/category/oshxona/9.jpg" alt="">
                    <!-- view more button here -->
                    <a href="#" class="absolute bottom-1 right-2">
                        <div class="flex items-center justify-center bg-white rounded-md text-sm px-4 py-1">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>


{% endblock content %}